<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TripTrack</title>
    <!--    googlr fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <!--    css style heet edited by suzy and diran-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!--   fontawesome-->
    <script src="https://kit.fontawesome.com/2bb1598ed3.js" crossorigin="anonymous"></script>
    <!--    bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="{% static 'scripts/scripts.js' %}"></script>

    <style>
   /* Hide messages by default */
.messages {
  display: none;
  position: fixed;
  top: 50px;
  right: 20px;
  z-index: 9999;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  border-radius: 5px;
}

/* Show messages and add animation on display */
.messages.show {
  display: block;
}

/* Style for success messages */
.message.success {
  color: #19af2680;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/* Style for error messages */
.message.error {
    color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  border-radius: 5px;
}

/* Style for warning messages */
.message.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

/* Style for info messages */
.message.info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
    </style>

<style>
    .close-btn {
  position: absolute;
  top: -10px;;
  right: 0;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}
</style>

</head>

<body style="height: 100vh;">
    
    {% if messages %}
    
                <ul class="messages">
                    <span class="close-btn">&times;</span>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
        
        $(document).ready(function() {
  // Show messages after 5 seconds
  setTimeout(function() {
    $('.messages').fadeIn();
  }, 5000);
});

    </script>
    <script>
        $(document).ready(function() {
  // Show messages after 5 seconds
  setTimeout(function() {
    $('.messages').fadeIn();
  }, 8000);
  
  // Hide messages after 5 seconds
  setTimeout(function() {
    $('.messages').fadeOut();
  }, 10000);
});
    </script>
    <!-- Header Section -->

    <section id="title">
        <div class="container-fluid" id="container-fluid">
            
            <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark" id="navbar" style="padding:0 0 5rem;">
                <div class="container-fluid">
                    
                    <a class="navbar-brand d-flex" href="{% url 'home' %}">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            
                            <i class="fa-solid fa-location-dot fa-beat-fade fa-2xl" style="color: #f21c1c;"></i>
                            <i class="fa-solid fa-t fa-xl"></i>
                            <i class="fa-solid fa-r"></i>
                            <i class="fa-solid fa-i"></i>
                            <i class="fa-solid fa-p"></i>
                            <i class="fa-solid fa-t fa-xl" style="color: #f21c1c;"></i>
                            <i class="fa-solid fa-w" style="color: #f21c1c;"></i>
                            <i class="fa-solid fa-a" style="color: #f21c1c;"></i>
                            <i class="fa-solid fa-c" style="color: #f21c1c;">
                                <i class="fa-solid fa-k" style="color: #f21c1c;"></i>
                            </i>
                        </a>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span> 
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active header-text" aria-current="page" href="{% url 'home' %}"><u>HOME</u></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active header-text" href="{% url 'driver' %}">DRIVER</a>
                            </li>
                            <li class="nav-item">
                                <a  href="{% url 'map' %}" class="nav-link active header-text">RIDER</a>
                            </li>
                            <li class="nav-item">
                                {% if test == 1%}
                                <button type="button" class="btn btn-outline-primary btn-sm signup header-text" ">
                                    <i class="fa-solid fa-user-lock" style="color: #28269c;"></i>logout
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-outline-primary btn-sm signup header-text" onclick="showLoginPopup()">
                                    <i class="fa-solid fa-user-lock" style="color: #28269c;"></i>login
                                </button>
                                {% endif %}
                            </li>
                            <li class="nav-item">
                                {% if test == 1%}
                                <button type="button" class="btn btn-success btn-sm login header-text" >
                                    <i class="fa-solid fa-user-plus"></i>Profile
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-success btn-sm login header-text" onclick="showSignupPopup()">
                                    <i class="fa-solid fa-user-plus"></i>SINGUP
                                </button>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- mobile header -->
            <div class=" container-fluid " id="mobile-header">
            
                <nav id="sidebar">
                    <div class="sidebar-header" >
                        <a class="navbar-brand d-flex" href="{% url 'home' %}">
                            <a class="navbar-brand" href="{% url 'home' %}">
                                <i class="fa-solid fa-location-dot fa-beat-fade fa-2xl" style="color: #f21c1c;"></i>
                                <i class="fa-solid fa-t fa-lg" style="color: #00183b;"></i>
                                <i class="fa-solid fa-r" style="color: #00183b;"></i>
                                <i class="fa-solid fa-i" style="color: #00183b;"></i>
                                <i class="fa-solid fa-p" style="color: #00183b;"></i>
                                <i class="fa-solid fa-t fa-xl" style="color: #f21c1c;"></i>
                                <i class="fa-solid fa-r" style="color: #f21c1c;"></i>
                                <i class="fa-solid fa-a" style="color: #f21c1c;"></i>
                                <i class="fa-solid fa-c" style="color: #f21c1c;">
                                    <i class="fa-solid fa-k" style="color: #f21c1c;"></i>
                                </i>
                            </a>
                        </a>
                    </div>
                    <ul class="list-unstyled components">
                        <li class="nav-item con">
                            <a class="nav-link active header-text-mobile" aria-current="page" href="{% url 'home' %}"><u>HOME</u></a>
                        </li>
                        {% if test == 1%}
                        <li class="nav-item con">
                            <a class="nav-link active header-text-mobile" href="{% url 'driver' %}">DRIVER</a>
                        </li>
                        {% endif %}

                        <li class="nav-item con">
                            <button type="button" class="btn btn-primary btn-sm signup header-text-mobile" onclick="showLoginPopup()">
                                <i class="fa-solid fa-user-lock" style="color: #28269c;"></i>LOGIN
                            </button>
                        </li>
                        <li class="nav-item con">
                            <button type="button" class="btn btn-success btn-sm login header-text-mobile" onclick="showSignupPopup()">
                                <i class="fa-solid fa-user-plus"></i>SINGUP
                            </button>
                        </li>
                    </ul>
                   
                </nav>
                <div id="content">
                    <div style="padding-top: -5%; align-items: start;">
                        <span><p>
                            <a class="navbar-brand d-flex" href="#">
                                <a class="navbar-brand" href="#">
                                    <i class="fa-solid fa-location-dot fa-beat-fade fa-2xl" style="color: #f21c1c;"></i>
                                    <i class="fa-solid fa-t fa-lg" style="color: #00183b;"></i>
                                    <i class="fa-solid fa-r" style="color: #00183b;"></i>
                                    <i class="fa-solid fa-i" style="color: #00183b;"></i>
                                    <i class="fa-solid fa-p" style="color: #00183b;"></i>
                                    <i class="fa-solid fa-t fa-xl" style="color: #f21c1c;"></i>
                                    <i class="fa-solid fa-r" style="color: #f21c1c;"></i>
                                    <i class="fa-solid fa-a" style="color: #f21c1c;"></i>
                                    <i class="fa-solid fa-c" style="color: #f21c1c;">
                                    <i class="fa-solid fa-k" style="color: #f21c1c;"></i>
                                    </i>
                                </a>
                            </a>    
                        </p></span>
                    </div>
                    <div type="button" id="sidebarCollapse">
                        <i class=""></i>
                        <span><i class="fa-solid fa-bars fa-2xl" style="color: #040c1b;"></i></span>
                    </div>
                </div>
            </div>

            <!-- Title -->

            <ul class="row header-row">
                <li class="col-lg-6">
                    <div>
                        <span>
                            <h3 class="caption-top">Life's still better</h3>
                            <h3 class="caption-top2"> without a car</h3>
                        </span>
                    </div>
                </li>
                <li class="col-lg-6">
                    <div>
                        <img class="title-image" src="{% static 'images/phones-en.png' %}" alt="iphone-mockup">
                    </div>
                </li>
            </ul>
        </div>
    </section>


    
    <!-- Features -->

    <!-- section 2 -->
    <section id="features">
        <div class="container-fluid" style="padding:15% 15% 15% 15%;">
            <div class="row">
                <ul class="row">
                    <li class="col-lg-6 manage">
                        <div class="qwre" style="padding-top:5%;">
                            <h3  class="ready-set">
                                Ready ,Set, Go<br> in just a few quick steps 
                            </h3>
                            <p class="features-p">no matter your destination we will help improve your time to get there </p>
                            <h3  class="point"><i class="fa-sharp fa-solid fa-arrow-right" style="color: #1d8c20;"></i> Get reliable rides</h3>
                            <h3 class="point" ><i class="fa-sharp fa-solid fa-arrow-right" style="color: #1d8c20;"></i> schedule your rides in advance </h3>
                            <h3 class="point" ><i class="fa-sharp fa-solid fa-arrow-right" style="color: #1d8c20;"></i> save money and time </h3>
                        </div>
                    </li>
                    <li class="col-lg-6 manage2">
                        <div class="qwre">
                            <img class="img-fluid section2-image" src="images/waiting-926533.jpg" alt="waiting-926533">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Testimonials -->

    <section id="testimonials">
        <div class="back-image">
            <ul class="row">

                <li class="col-md-6">
                    <div class="container-xl display-images">
                        <div class="row">
                            <div class="col-12">
                                <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                    <div class="carousel-inner">

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="col-md-6">
                    <h3 id="element2"></h3>
                </li>
            </ul>
        </div>
    </section>

    <section class="press">
        <ul class="row">

            <li class="col-lg-3">
                <h3 class="estimate" >Ready to Roll?<br> <b> Get an estimate </b></h3>
            </li>

            <li class="col-lg-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter pick-up location" aria-label="Username" aria-describedby="basic-addon1">
                </div>   
            </li>

            <li class="col-lg-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter drop-off location" aria-label="Username" aria-describedby="basic-addon1">
                </div>   
            </li>

            <li class="col-lg-3">
                <div class="input-group mb-3 bu">
                    <button class="btn btn-dark "> Get estimate</button>
                </div>   
            </li>
        </ul>
    </section>

    <section id="features-2">
        <div class="container-fluid" style="padding:5% 15% 11% 15%;">
            <ul class="row">

                <li class="col-lg-6">
                    <p style="color: rgb(210, 213, 216);">Security </p>
                    <div class="qwre">
                        <img class="img-fluid section4-image" src="{% static 'images/home_pinkpaint_hero.webp' %}" alt="waiting-926533">
                    </div>
                </li>

                <li class="col-lg-6" style=" padding-left: 4%;">
                    <div class="qwre">
                        <h3  class="safty" style="padding-top: 5%;">
                            Safty ,Security, first</h3>
                        <p class="safty-explain">
                            <b>TripTrack</b> 
                            prioritizes safety and security, providing peace of mind for users throughout their journeys. With real-time tracking and advanced security measures, it ensures a secure travel experience. Trust TripTrack for reliable and protected travels.
                        </p>
                    </div style='padding-top:3;'>
                    <div class="bu1">
                        <a href="#"><button class="btn btn-dark btn-md"> Learn More</button></a>
                    </div>
                </li>

            </ul>
        </div>
        <hr style="border-style: inset; color: rgb(208, 209, 209);">
    </section>

    <section id="features-2">
        <div class="container-fluid" style="padding:10% 15% 15% 15%;">
            <ul class="row">
                <li class="col-lg-6">
                    <div class="qwre">
                        <img class="img-fluid section4-image" src="{% static 'images/happy taxi man 2.jpg' %}" alt="waiting-926533">
                    </div>
                </li>
                <li class="col-lg-6" style=" padding-left: 4%;">
                    <div class="qwre" style="padding-top: 18%;">
                        <h3 class="ride">Let’s ride </h3>
                    </div style='padding-top:3;'>
                    
                    <span style="padding:2%; display: flex; justify-content: center;">
                        <a><button onclick='showSignupPopup()' class="btn btn-dark btn-lg">
                            Signup for ride
                        </button></a>
                    </span>
                </li>
            </ul>
        </div>
    </section>

    <section class="section-5">
        <div class="container-fluid align-content-center justify-content-center" style="text-align: center; margin-bottom: -5%; padding:5% 15% 5% 15%;">
            <h3 style="font-size: 1.5rem; font-weight: 800;">TripTrack</h3>
            <h3 class="motion"><u>We ease Motion for!</u></h3>
            <h3 class='p'   style="font-size:1rem;"></h3>
            <h3 id="word-container" style="font-size: 2rem; text-align: center; color: aliceblue; padding-bottom: 5%;"></h3>
            <img class="img-fluid" src="{% static 'images/family trip.png' %}" alt="family trip" style="border-radius: 10%;">
        </div>
    </section>

    <!-- login popup -->

    <div id="loginPopup" class="login-popup" style="display: none;">
        <div class="login-form">
            <a href="{% url 'home' %}" style="align-items: end; padding-left: 100%;"> <i class="fa-solid fa-x fa-sm" style="color: #ce0909; text-align: right;"></i></a>
            <span><div>
                <h2>Welcome Back</h2>
            </div></span>
            <div class="container-fluid">
                <img class="img-fluid login-img" src="{%static 'images/login.jpg' %}">
            </div>

            <!--- how to get -->
            

            <form action="{% url 'login' %}" method="POST", enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username">
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password">
                    <i class="fa-solid fa-eye" id="togglePassword1"></i>
                </div>

                <div class="form-group">
                    <button  type= "button" btn btn-lg"  style="font-weight: bolder; font-size: larger; color:#2BC875; border: none; display: flex; justify-content: center; background-color: #fff;" onclick="showForgotPasswordPopup()">Forgot Password?</button>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn" style="background-color: #2BC875; font-weight: bolder;">Login</button>
                </div>
            </form>
        </div>
    </div>


     <!-- forgotpassword popup -->

     <!-- <div id="forgotpasswordPopup" class="login-popup" style="display: none;">
        <div class="login-form">
            <a href="{% url 'home' %}" style="align-items: end; padding-left: 100%;"> <i class="fa-solid fa-x fa-sm" style="color: #ce0909; text-align: right;"></i></a>
            <span><div>
                <h2>Reset Password</h2>
            </div></span>
            <div class="container-fluid">
                <img class="img-fluid login-img" src="{%static 'images/Forgot-password-rafiki.svg' %}">
            </div>
            <form action="{% url 'login' %}" method="POST", enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="username" placeholder="Enter your email">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn" style="background-color: #2BC875; font-weight: bolder;">Send verification code</button>
                </div>
            </form>
        </div>
    </div> -->

    <!-- signupform -->

    <div class="container-fluid">
        <div id="signupPopup" class="signup-popup" style="display: none;">
            <div class="signup-form">
                <a href="{% url 'home' %}" style="align-items: end; padding-left: 90%;">
                    <i class="fa-solid fa-x fa-sm" style="color: #ce0909; text-align: right;"></i>
                </a>
                <h3 style="font-size:2rem; text-align: center;"> Welcom to <b>TripTrack</b></h3>
                <h3 style="font-size: 1.5rem;">Signup</h3>
                <div class="container-fluid">
                    <img class="img-fluid signup-img"  style="border-radius: 5%" src="images/black woman in taxi 2.png">
                </div>
                <form action="{% url 'usersignup' %}" method="POST", enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" placeholder="Enter your Username"required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="signup_password" name="password" placeholder="Enter your password" oninput="validatePassword()" required>
                        <i class="fa-solid fa-eye fa-eye2" id="togglePassword2"></i>

                    </div> 
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" id="confirm_password" name="confirmpassword" placeholder="Confirm password" oninput="validatePassword()" required>
                        <i class="fa-solid fa-eye fa-eye3" id="togglePassword3"></i>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="background-color: #2BC875; font-weight: bolder; " id="submit-btn">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    

    <!-- Footer -->

    <footer class="footer" id="footer">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            <h4>Contact Information</h4>
            <p>Phone: 672944309</p>
            <p>Email: innovation.@triptrack.com</p>
            <p>Address: molyko Street, Buea, Cameroon</p>
            </div>
            <div class="col-md-3">
            <h4>Navigation</h4>
            <ul class="list-unstyled">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' %}">About Us</a></li>
                <li><a href="{% url 'driver' %}">Driver</a></li>
                <li><a href="{% url 'home' %}">Services</a></li>
            </ul>
            </div>
            <div class="col-md-3">
            <h4>Connect with Us</h4>
            <ul class="list-unstyled">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
            <p>&copy; 2023 Triptrack. All rights reserved.</p>
            </div>
            <div class="col-md-6">
            <ul class="list-unstyled ">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            </div>
        </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'scripts/scripts.js' %}"></script>

    <script>
        function validatePassword() {
            var password = document.getElementById("password").value;
            var confirm_password = document.getElementById("confirm_password").value;
        
            var submit_button = document.getElementById("submit-btn");
    
        if (password != confirm_password) {
            document.getElementById("password_error").innerHTML = "Passwords do not match";
            submit_button.disabled = true;
        } else {
            document.getElementById("password_error").innerHTML = "";
            submit_button.disabled = false;
        }
        }
    </script>

    
<script>
    const showPassword1 = document.querySelector("#togglePassword1");
    const showPassword2 = document.querySelector("#togglePassword2");
    const showPassword3 = document.querySelector("#togglePassword3");
  const passwordField= document.querySelector("#password");
  const signuppassword = document.querySelector("#signup_password");
  const confirmpassword= document.querySelector("#confirm_password");
  
  showPassword1.addEventListener("click", function(){
      // toggle the icon
      this.classList.toggle("fa-eye-slash");
  
      const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
      passwordField.setAttribute("type", type);
      
  })

  showPassword3.addEventListener("click", function(){
      // toggle the icon
      this.classList.toggle("fa-eye3-slash");
  
      const type = confirmpassword.getAttribute("type") === "password" ? "text" : "password";
      confirmpassword.setAttribute("type", type);
      
  })
  
  showPassword2.addEventListener("click", function(){
      // toggle the icon
      this.classList.toggle("fa-eye2-slash");
      // toggle the type attribute
      const type = signuppassword.getAttribute("type") === "password" ? "text" : "password";
      signuppassword.setAttribute("type", type);
  })
  </script>
  <script>
    $(document).ready(function() {
        var screenWidth = $(window).width();
        var sidebar = $('#sidebar');
        var content = $('#content');
    
        if (screenWidth >= 768) {
            sidebar.removeClass('active'); // Hide the sidebar on desktop screens
            content.removeClass('active');
        }
    
        $(window).scroll(function() {
            if (screenWidth < 768) {
                sidebar.removeClass('active');
                content.removeClass('active');
            }
        });
    
        $('#sidebarCollapse').on('click', function() {
            sidebar.toggleClass('active');
            content.toggleClass('active');
        });
    });
    
    </script>
  <style>
    .fa-eye{
      position: absolute;
      top: 57.5%;
      right: 7%;
      cursor: pointer;
      color: #2BC875;
  }
  .fa-eye2{
      top:62%;
  }
  .fa-eye3{
      top: 60%;
  }
  </style>
    </body>
</html>