<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TripTrack</title>
    <!--    googlr fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <!--    css style heet edited by suzy and diran-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!--   fontawesome-->
    <script src="https://kit.fontawesome.com/2bb1598ed3.js" crossorigin="anonymous"></script>
    <!--    bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="{% static 'scripts/scripts.js' %}"></script>
    
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <section id="title">
        <div class="container-fluid" id="container-fluid">
            <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark" id="navbar" style="padding:0 0 5rem;">
                <div class="container-fluid">
                    <a class="navbar-brand d-flex" href="{% url 'home' %}">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <i class="fa-solid fa-location-dot fa-beat-fade fa-2xl" style="color: #f21c1c;"></i>
                            <i class="fa-solid fa-t fa-xl"></i>
                            <i class="fa-solid fa-r"></i>
                            <i class="fa-solid fa-i"></i>
                            <i class="fa-solid fa-p"></i>
                            <i class="fa-solid fa-t fa-xl" style="color: #f21c1c;"></i>
                            <i class="fa-solid fa-r" style="color: #f21c1c;"></i>
                            <i class="fa-solid fa-a" style="color: #f21c1c;"></i>
                            <i class="fa-solid fa-c" style="color: #f21c1c;">
                                <i class="fa-solid fa-k" style="color: #f21c1c;"></i>
                            </i>
                        </a>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span> 
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active header-text" aria-current="page" href="{% url 'home' %}"><u>HOME</u></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active header-text" href="{% url 'driver' %}">DRIVER</a>
                            </li>
                            <li class="nav-item">
                                {% if test == 1%}
                                <form action="{% url 'logout' %} " method="post">
                                    {% csrf_token %}
                                <button type="submit" class="btn btn-outline-primary btn-sm signup header-text" ">
                                    <i class="fa-solid fa-user-lock" style="color: #28269c;"></i>logout
                                </button>
                                </form>
                                {% else %}
                                <button type="button" class="btn btn-outline-primary btn-sm signup header-text" onclick="showLoginPopup()">
                                    <i class="fa-solid fa-user-lock" style="color: #28269c;"></i>login{{test}}
                                </button>
                                {% endif %}
                            </li>
                            <li class="nav-item">
                                {% if test == 1%}
                                <button type="button" class="btn btn-success btn-sm login header-text" >
                                    <i class="fa-solid fa-user-plus"></i>Profile
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-success btn-sm login header-text" onclick="showSignupPopup()">
                                    <i class="fa-solid fa-user-plus"></i>SINGUP
                                </button>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- mobile header -->
            <div class=" container-fluid " id="mobile-header">
            
                <nav id="sidebar">
                    <div class="sidebar-header" >
                        <a class="navbar-brand d-flex" href="{% url 'home' %}">
                            <a class="navbar-brand" href="{% url 'home' %}">
                                <i class="fa-solid fa-location-dot fa-beat-fade fa-2xl" style="color: #f21c1c;"></i>
                                <i class="fa-solid fa-t fa-lg" style="color: #00183b;"></i>
                                <i class="fa-solid fa-r" style="color: #00183b;"></i>
                                <i class="fa-solid fa-i" style="color: #00183b;"></i>
                                <i class="fa-solid fa-p" style="color: #00183b;"></i>
                                <i class="fa-solid fa-t fa-xl" style="color: #f21c1c;"></i>
                                <i class="fa-solid fa-r" style="color: #f21c1c;"></i>
                                <i class="fa-solid fa-a" style="color: #f21c1c;"></i>
                                <i class="fa-solid fa-c" style="color: #f21c1c;">
                                    <i class="fa-solid fa-k" style="color: #f21c1c;"></i>
                                </i>
                            </a>
                        </a>
                    </div>
                    <ul class="list-unstyled components">
                        <li class="nav-item con">
                            <a class="nav-link active header-text-mobile" aria-current="page" href="{% url 'home' %}"><u>HOME</u></a>
                        </li>
                        <li class="nav-item con">
                          <a class="nav-link active header-text-mobile" href="{% url 'driversignup' pk %}">price Estimate</a>
                      </li>
                        <li class="nav-item con">
                            <a class="nav-link active header-text-mobile" href="{% url 'driversignup' pk %}">Become a Driver</a>
                        </li>
                        {% if test == 1%}
                        <li class="nav-item con">
                            <a  href="{% url 'mapping' pk%}" class="nav-link active header-text-mobile">Support</a>
                        </li>
                        {%endif%}
                        
                        <li class="nav-item con" style="">
                          <a  href="{% url 'usersetting' pk %}" class="nav-link active header-text-mobile">settings</a>
                      </li>
                      
                    </ul>
                    <ul style="padding-top: 100%;">
                        
                        {% if test == 1%}
                        <li class="nav-item con">
                           <form action="{% url 'logout' %} " method="post">
                            {% csrf_token %}
                            <button type="submit" style="color: #ff0606; border-color: #ff0606; font-weight: bolder;" class="btn btn-outline-primary btn-sm signup header-text-mobile">
                                <i class="fa-solid fa-user-lock" style="width:100%; color : #ff0606;"></i>LOGOUT
                            </button>
                            {% else %}
                            <li class="nav-item con">
                                <button type="button" class="btn btn-outline-primary btn-sm signup header-text-mobile" onclick="showLoginPopup()">
                                    <i class="fa-solid fa-user-lock" style="color: #28269c;"></i>LOGIN
                                </button>
                        </li>
                        {%endif%}
                        {% if test == 0 %}
                        <li class="nav-item con">
                            <button type="button" class="btn btn-outline-success btn-sm login header-text-mobile" onclick="showSignupPopup()">
                                <i class="fa-solid fa-user-plus"></i>SINGUP
                            </button>
                        </li>
                        {%endif%}
                    </ul>
                  
                </nav>
                <div id="content">
                    <div style="padding-top: -5%; align-items: start;">
                        <span><p>
                            <a class="navbar-brand d-flex" href="#">
                                <a class="navbar-brand" href="#">
                                    <i class="fa-solid fa-location-dot fa-beat-fade fa-2xl" style="color: #f21c1c;"></i>
                                    <i class="fa-solid fa-t fa-lg" style="color: #00183b;"></i>
                                    <i class="fa-solid fa-r" style="color: #00183b;"></i>
                                    <i class="fa-solid fa-i" style="color: #00183b;"></i>
                                    <i class="fa-solid fa-p" style="color: #00183b;"></i>
                                    <i class="fa-solid fa-t fa-xl" style="color: #f21c1c;"></i>
                                    <i class="fa-solid fa-r" style="color: #f21c1c;"></i>
                                    <i class="fa-solid fa-a" style="color: #f21c1c;"></i>
                                    <i class="fa-solid fa-c" style="color: #f21c1c;">
                                        <i class="fa-solid fa-k" style="color: #f21c1c;"></i>
                                    </i>
                                </a>
                            </a>    
                        </p></span>
                    </div>
                    <div type="button" id="sidebarCollapse">
                        <i class=""></i>
                        <span><i class="fa-solid fa-bars fa-2xl" style="color: #040c1b;"></i></span>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
    <script>
      function initMap() {
        let destinationMarker = null;
        let walkingDirectionsRenderer = null;
    
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        } else {
          alert('Geolocation is not supported by this browser.');
        }
    
        function successCallback(position) {
          const passengerLocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
    
          const map = new google.maps.Map(document.getElementById('map'), {
            center: passengerLocation,
            zoom: 15
          });
    
          const marker = new google.maps.Marker({
            position: passengerLocation,
            map: map,
            title: 'My Location',
            icon: {
              path: google.maps.SymbolPath.CIRCLE,
              scale: 13, 
              fillColor: '#007Acc',
              fillOpacity: 1,
              strokeWeight: 0
            }
          });
    
          // Add click event listener to the map
          map.addListener('click', function(event) {
            // Remove previous destination marker and routes
            if (destinationMarker) {
              destinationMarker.setMap(null);
            }
            if (walkingDirectionsRenderer) {
              walkingDirectionsRenderer.setMap(null);
            }
    
            const destinationLocation = event.latLng;
    
            // Add a marker for the destination location
            destinationMarker = new google.maps.Marker({
              position: destinationLocation,
              map: map,
              title: '',
              icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 10,
                fillColor: '#38E54D',
                fillOpacity: 1,
                strokeWeight: 0
              }
            });
    
            // Draw walking route from passenger location to the destination
            const walkingDirectionsService = new google.maps.DirectionsService();
            walkingDirectionsRenderer = new google.maps.DirectionsRenderer();
            walkingDirectionsRenderer.setMap(map);
            const walkingRequest = {
              origin: passengerLocation,
              destination: destinationLocation,
              travelMode: google.maps.TravelMode.WALKING
            };
            walkingDirectionsService.route(walkingRequest, function(walkingResponse, walkingStatus) {
              if (walkingStatus === google.maps.DirectionsStatus.OK) {
                walkingDirectionsRenderer.setDirections(walkingResponse);
    
                // Calculate and display the walking distance
                const walkingDistance = walkingResponse.routes[0].legs[0].distance.text;
                const locationInfo = document.getElementById('locationInfo');
                locationInfo.innerHTML = `Distance: ${walkingDistance}`;
    
                // Calculate the driving distance
                const drivingDirectionsService = new google.maps.DirectionsService();
                const drivingRequest = {
                  origin: passengerLocation,
                  destination: destinationLocation,
                  travelMode: google.maps.TravelMode.DRIVING
                };
                drivingDirectionsService.route(drivingRequest, function(drivingResponse, drivingStatus) {
                  if (drivingStatus === google.maps.DirectionsStatus.OK) {
                    const duration = drivingResponse.routes[0].legs[0].duration.text;
                    locationInfo.innerHTML += `<br>aproximate time: ${duration}`;
                  }
                });
              }
            });
          });
        }
    
        function errorCallback(error) {
          alert('Error retrieving current location: ' + error.message);
        }
      }
    </script>
    
    
    
    <div id="map"></div>
    <div id="locationInfo"></div>
    
    <div id="locationInfo"></div>
    
    <script>
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            alert("Geolocation is not supported by this browser.");
          }
        }
      
        function showPosition(position) {
          var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          var geocoder = new google.maps.Geocoder();
          geocoder.geocode({'location': latlng}, function(results, status) {
            if (status === 'OK') {
              if (results[0]) {
                var address = results[0].formatted_address;
                var distance = result.routes[0].legs[0].distance.text;
                document.getElementById("location-form").value = address;
              } else {
                alert('No results found');
              }
            } else {
              alert('Geocoder failed due to: ' + status);
            }
          });
        }
      </script>
      <script>
      function saveLocationInfo(destinationName, latitude,longitude) {
        // Send an HTTP POST request to the Django server
        const xhr = new XMLHttpRequest();
        const url = '/my-django-view/${pk}/';
        xhr.open('POST', url);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
          if (xhr.status === 200) {
            console.log('Location information saved successfully.');
          } else {
            console.log('An error occurred while saving the location information.');
          }
        };
        const data = JSON.stringify({
          'destination_name': destinationName,
          'latitude': latitude,
          'longitude': longitude
        });
        xhr.send(data);
      }
    </script>
      <form action="" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary mx-auto my-4 d-none" id="myButton">confirm Destination</button>
        </div>
        <footer class="footer" id="footer">
         
      </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'scripts/scripts.js' %}"></script>
    <script>
    $(document).ready(function() {
        var screenWidth = $(window).width();
        var sidebar = $('#sidebar');
        var content = $('#content');
    
        if (screenWidth >= 768) {
            sidebar.removeClass('active'); // Hide the sidebar on desktop screens
            content.removeClass('active');
        }
    
        $(window).scroll(function() {
            if (screenWidth < 768) {
                sidebar.removeClass('active');
                content.removeClass('active');
            }
        });
    
        $('#sidebarCollapse').on('click', function() {
            sidebar.toggleClass('active');
            content.toggleClass('active');
        });
    });
    
    </script>

</body>
</html>
