<!-- Header Section -->

{% load static %}
<section id="title">
    <div class="container-fluid" id="container-fluid">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark" id="navbar" style="padding:0 0 5rem;">
            <div class="container-fluid">
                <a class="navbar-brand d-flex" href="{% url 'home' %}">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <i class="fa-solid fa-location-dot fa-beat-fade fa-2xl" style="color: #f21c1c;"></i>
                        <i class="fa-solid fa-t fa-xl"></i>
                        <i class="fa-solid fa-r"></i>
                        <i class="fa-solid fa-i"></i>
                        <i class="fa-solid fa-p"></i>
                        <i class="fa-solid fa-t fa-xl" style="color: #f21c1c;"></i>
                        <i class="fa-solid fa-r" style="color: #f21c1c;"></i>
                        <i class="fa-solid fa-i" style="color: #f21c1c;"></i>
                        <i class="fa-solid fa-c" style="color: #f21c1c;">
                        <i class="fa-solid fa-k" style="color: #f21c1c;"></i>
                        </i>
                    </a>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> 
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active header-text" aria-current="page" href="{% url 'home' %}"><u>HOME</u></a>
                        </li>
                        {% if test == 1%}
                        <li class="nav-item con">
                            <a class="nav-link active header-text-mobile" href="{% url 'driver' %}">DRIVER</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a  href="{% url 'map' %}" class="nav-link active header-text">RIDER</a>
                        </li>
                        {% if test == 1%}
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-primary btn-sm signup header-text" onclick="showLoginPopup()">
                                <i class="fa-solid fa-user-lock" style="color: #9c2626;"></i>SIGNIN
                            </button>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-primary btn-sm signup header-text" onclick="showLoginPopup()">
                                <i class="fa-solid fa-user-lock" style="color: #9c2626;"></i>SIGNIN
                            </button>
                        </li>
                        {%endif%}
                        <li class="nav-item">
                            <button type="button" class="btn btn-success btn-sm login header-text" onclick="showSignupPopup()">
                                <i class="fa-solid fa-user-plus"></i>SINGUP
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- mobile header -->
        <div class=" container-fluid " id="mobile-header">
        
            <nav id="sidebar">
                <div class="sidebar-header" >
                    <a class="navbar-brand d-flex" href="{% url 'home' %}">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <i class="fa-solid fa-location-dot fa-beat-fade fa-2xl" style="color: #f21c1c;"></i>
                            <i class="fa-solid fa-t fa-lg" style="color: #00183b;"></i>
                            <i class="fa-solid fa-r" style="color: #00183b;"></i>
                            <i class="fa-solid fa-i" style="color: #00183b;"></i>
                            <i class="fa-solid fa-p" style="color: #00183b;"></i>
                            <i class="fa-solid fa-t fa-xl" style="color: #f21c1c;"></i>
                            <i class="fa-solid fa-r" style="color: #f21c1c;"></i>
                            <i class="fa-solid fa-i" style="color: #f21c1c;"></i>
                            <i class="fa-solid fa-c" style="color: #f21c1c;">
                            <i class="fa-solid fa-k" style="color: #f21c1c;"></i>
                            </i>
                        </a>
                    </a>
                </div>
                <ul class="list-unstyled components">
                    <li class="nav-item con">
                        <a class="nav-link active header-text-mobile" aria-current="page" href="{% url 'home' %}"><u>HOME</u></a>
                    </li>
                    <li class="nav-item con">
                        <a class="nav-link active header-text-mobile" href="{% url 'driversignup' pk %}">DRIVER</a>
                    </li>
                    <li class="nav-item con">
                        <a  href="{% url 'map' %}" class="nav-link active header-text-mobile">Safty measures</a>
                    </li>
                    <li class="nav-item con">
                        {% if test == 1%}
                        <button type="button" class="btn btn-outline-primary btn-sm signup header-text" ">
                            <i class="fa-solid fa-user-lock" style="color: #28269c;"></i>logout
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-outline-primary btn-sm signup header-text" onclick="showLoginPopup()">
                            <i class="fa-solid fa-user-lock" style="color: #28269c;"></i>login
                        </button>
                        {% endif %}
                    </li>
                    <li class="nav-item con">
                        {% if test == 1%}
                        <button type="button" class="btn btn-success btn-sm login header-text" >
                            <i class="fa-solid fa-user-plus"></i>Profile
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-success btn-sm login header-text" onclick="showSignupPopup()">
                            <i class="fa-solid fa-user-plus"></i>SINGUP
                        </button>
                        {% endif %}
                    </li>
                </ul>
                <ul style="padding-top: 100%;">
                    
                    <li class="nav-item con" style="">
                        <a  href="{% url 'map' %}" class="nav-link active header-text-mobile">settings</a>
                    </li>
                    
                </ul>
                <ul>
                    <li class="nav-item " style="text-align: center;">
                        <a  href="{% url 'map' %}" class="nav-link active header-tex"><i class="fa-sharp fa-solid fa-location-dot fa-2xl" style="color: #ec1313;"></i></a>
                    </li>
                
                </ul>
            </nav>
            <div id="content">
                <div style="padding-top: -5%; align-items: start;">
                    <span><p>
                        <a class="navbar-brand d-flex" href="#">
                            <a class="navbar-brand" href="#">
                                <i class="fa-solid fa-location-dot fa-beat-fade fa-2xl" style="color: #f21c1c;"></i>
                                <i class="fa-solid fa-t fa-lg" style="color: #00183b;"></i>
                                <i class="fa-solid fa-r" style="color: #00183b;"></i>
                                <i class="fa-solid fa-i" style="color: #00183b;"></i>
                                <i class="fa-solid fa-p" style="color: #00183b;"></i>
                                <i class="fa-solid fa-t fa-xl" style="color: #f21c1c;"></i>
                                <i class="fa-solid fa-r" style="color: #f21c1c;"></i>
                                <i class="fa-solid fa-i" style="color: #f21c1c;"></i>
                                <i class="fa-solid fa-c" style="color: #f21c1c;">
                                    <i class="fa-solid fa-k" style="color: #f21c1c;"></i>
                                </i>
                            </a>
                        </a>    
                    </p></span>
                </div>
                <div type="button" id="sidebarCollapse">
                    <i class=""></i>
                    <span><i class="fa-solid fa-bars fa-2xl" style="color: #040c1b;"></i></span>
                </div>
            </div>
        </div>

    </div>
</section>

